.signup {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.submit {
  margin: 20px;
}

.input {
  border-radius: 10px;
}