.foodcard {
    border-style: solid;
    width: 300px;
    height: 300px;
}

.button {
    text-align: center;
    padding: 2px;
}

.findrecipes {
    background-color: green;
    color: white;
}

.remove {
    background-color: red;
    color: white;
}

.newfood {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.plussign {
    font-size: 100px;
}

.image {
    height: 130px;
}

.steps {
    display: flex;
}