.shelf {
    font-family: monospace;
    border-radius: 30px;
    padding: 20px;
}

.foodtitle {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

.foodcards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fridge {
    padding: 20px;
}

.meat {
    background-color: rgb(249, 190, 190);
}

.vegetable {
    background-color: rgb(143, 255, 143);
}

.grains {
    background-color: rgb(245, 245, 177);
}

.dairy {
    background-color: rgb(243, 233, 233);
}

.condiments {
    background-color: rgb(209, 88, 88);
}

.spices {
    background-color: rgb(242, 190, 93);
}

.baking {
    background-color: lavender;
}
