.foodcards {
    display: flex;
    flex-wrap: wrap;
}

.fridge {
    padding: 20px;
}

.meat {
    background-color: rgb(255, 121, 121);
}

.vegetable {
    background-color: rgb(143, 255, 143);
}

.grains {
    background-color: rgb(245, 245, 177);
}

.dairy {
    background-color: white;
}

.condiments {
    background-color: rgb(209, 88, 88);
}

.spices {
    background-color: rgb(242, 190, 93);
}

.baking {
    background-color: lavender;
}