.mainrecipe {
    display: flex;
}

.recname {
    display: flex;
    justify-content: center;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
    padding-left: 10%;
    padding-right: 5%;
}

.list {
    border-style: solid;
    padding: 20px;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: 75%;
    float: right;
}

.title {
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

.author {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

.mainrecipe {
    font-family: monospace;
    font-size: 20px;
}

.bigimage {
    display: block;
    height: 300px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.testing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures {
    display: flex;
}

.buttonborder {
    display: flex;
    justify-content: center;
}

.editbutton {
    border-radius: 10px;
    width: 50%;
    font-size: 25px;
}

.input {
    width: 100%;
}