.recipecard {
    display: block;
    border-style: solid;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    margin: 25px;
    font-family: monospace;
    font-size: 15px;
}

.recipecard:hover {
    height: 405px;
    width: 305px;
    margin: 20px;
}

.exists {
    display: inline-block;
    border-radius: 10px;
    background-color: green;
    padding: 2px;
    margin: 2px;
    border-style: solid;
    border-color: black;
    color: white;
}

.dne {
    display: inline-block;
    border-radius: 10px;
    background: red;
    padding: 2px;
    border-style: solid;
    margin: 2px;
    border-color: black;
    color: white;
}

.image {
    height: 160px;
}

.recname {
    font-size: 25px;
}